extends layout

block head 
  title Home

block content
  div.hero-section
    div.transbox
      h1 Top G Python.
      p The best way to learn Python from Level 0.
    if user
      a.btn(href="/logout") Logout
    else 
      a.btn(href="/login") Login

  div.main-section
    h2 About the Website
    p This website is designed to help users learn Python from scratch through interactive lessons, quizzes, and games.

  section
    h3 Python Game
    p Challenge yourself with our Python-based hybrid game. Answer Python questions correctly to progress on the board. Take risks to move ahead faster!
    a.btn(href="/onlinegame") Multiplayer
    p 
    a.btn(href="/game") Singleplayer

  section
    h3 Leaderboard
    p Check out the top players and their scores! Will you be the next Python Top G?
    div.leaderboard-container
      table.leaderboard-table
        thead
          tr
            th Rank
            th Name
            th Score
        tbody
          if leaderboard && leaderboard.length
            each player, index in leaderboard
              tr
                td #{index + 1}
                td #{player.name}
                td #{player.score} points
      h3
      p 
      a.btn(href="/leaderboardmain") View Full Leaderboard

  section
    h3 About Us
    p I am a passionate developer and educator, dedicated to helping you learn Python in a fun and engaging way.

  footer
    p &copy; 2024 Top G Python. All rights reserved.
