doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/css/styles.css") 
    block head

  body
    // Navbar with Hamburger Menu
    div.navbar
      div.navbar-container
        div.hamburger
          span
          span
          span
        div.logo
          a(href="/") Top G Python
        ul.nav-links
          li
            a(href="/onlinegame") Multiplayer
          li
            a(href="/Game") Singleplayer
          li
            a(href="/leaderboardmain") Leaderboard
          li
            a(href="https://www.linkedin.com/in/maximmty/") About Me
          li
            a(href="/profile") Profile
        if user
          a.btn(href='/logout') Logout
        else
          a.btn(href='/login') Login

    // Block for specific page content
    block content

    // Scripts for Hamburger Menu functionality
    script.
      document.addEventListener('DOMContentLoaded', () => {
        const hamburger = document.querySelector('.hamburger');
        const navLinks = document.querySelector('.nav-links');

        hamburger.addEventListener('click', () => {
          hamburger.classList.toggle('active');
          navLinks.classList.toggle('active');
        });
      });

    block scripts
