extends layout

block head
  link(rel="stylesheet", href="/css/game.css")

block content
  .hero-section-nobg
    .transbox
      h1 Game Play

      if player
        p#player-turn It's #{player.name}'s turn! Roll the dice.

        // Cool animated dice container
        .dice-container
          img#dice-img(src="/images/dice1.png", alt="Dice", class="dice")

        // Roll Dice Button
        form(action="/game/roll-dice", method="POST", id="roll-dice-form")
          input(type="hidden", name="diceRoll", id="hidden-dice-roll")
          button#roll-dice-btn.btn(type="button") Roll Dice
      else
        p No player information available. Please restart the game.

      h2 Player Scores
      if players && players.length > 0
        ul
          each player in players
            li #{player.name}: #{player.score} points
      else
        p No players added yet.

      if session.tip
        p Tip: #{session.tip}

block scripts
  script(src="/js/game.js")
