extends layout

block head
  link(rel="stylesheet", href="/css/game.css")

block content
  .hero-section-nobg 
    .game-container
        h1 Roll: #{roll}
        h2 #{currentPlayer.name}, choose your question difficulty

        // Form to select question difficulty
        form(action="/game/select-question", method="POST")
          button.button(type="submit", name="difficulty", value="easy") Low Risk
          button.button(type="submit", name="difficulty", value="hard") High Risk

block scripts
  script(src="/js/game.js")
