extends layout

block head
  link(rel="stylesheet", href="/css/game.css")

block content
  .hero-section-nobg
    .transbox
      h1 Result

      if result
        p #{result.message}
        p You earned #{result.moves} move(s)!
        p Current Score: #{currentPlayer.score}

      if session && session.tip
        p Tip: #{session.tip}

      form(action="/game/play", method="GET")
        button.btn(type="submit") Continue to Game