extends layout

block head
  title Result
  link(rel="stylesheet", href="/css/game.css")

block content
  .hero-section-nobg
    .game-container
        h1 Result

        if result
          p.result-message #{result.message}
          p.result-moves You earned #{result.moves} move(s)!
          p.result-score Current Score: #{currentPlayer.score}

        if session && session.tip
          p.tip Tip: #{session.tip}

        form(action="/game/play", method="GET")
          button.button(type="submit") Continue to Game
